@import "./reset.css";
@import "./base.css";
@import "./splash.css";

@import "tailwindcss";
@import "vue-material-design-icons/styles.css";

@import "./content.css";
@import "./docs.css";

/* Reset some icon default styles for more predictable alignment */
.material-design-icon>.material-design-icon__svg {
  position: static;
  bottom: 0;
}

@theme {
  --color-gray-900: #12121A;
  --color-gray-800: #1d1d28;
  --color-gray-700: #383851;
}

body {
  overflow-y: scroll;
  background-color: var(--color-gray-900);
  color: var(--color-gray-300);
  font-size: var(--text-base);
}
