body {
  font: normal 18px/1.5 sans-serif;
  font-family:
    'Inter',
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
}
